<% if(theme.vendors.materialcdn) { %>
    <link rel="preload" as="style" href="<%= theme.vendors.materialcdn + '/css/gallery.min.css' %>" onload="this.rel='stylesheet'">
    <% } else { %>
        <link rel="stylesheet" href="/css/gallery.min.css" type="text/css">
        <% } %>
            <body>
                <!-- Wrapper -->
                <div id="wrapper">

                    <!-- Header -->
                    <header id="header">
                        <h1>
                            <a href="<%= config.root %>"><strong><%- config.title %></strong></a> -
                            <%= page.title %>
                        </h1>
                        <audio style="vertical-align: middle;" src="http://ow9cw9x3t.bkt.clouddn.com/music.mp3" reload="true" autoplay loop>
                            你的浏览器不支持 <code>video</code> 标签.
                        </audio>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#footer" class="icon fa-info-circle">
                            ©&nbsp;<%- config.author %>
                        </a>
                                </li>
                            </ul>
                        </nav>
                    </header>

                    <!-- Main -->
                    <div id="main">
                        <% if (site.data.gallery) { %>
                            <% for (var i in site.data.gallery) { %>
                                <article class="thumb">
                                    <a href="<%= site.data.gallery[i].full_link %>" class="image lazy" data-original="<%= site.data.gallery[i].thumb_link %>"><img class="lazy" data-original="<%= site.data.gallery[i].thumb_link %>" alt="<%= i %>" /></a>
                                    <h2>
                                        <%= i %>
                                    </h2>
                                    <p>
                                        <%= site.data.gallery[i].descr %>
                                    </p>
                                </article>
                                <% } %>
                                    <% } %>
                    </div>
                </div>

                <!-- Scripts -->
                <% if(theme.vendors.materialcdn) { %>
                    <script src="<%= theme.vendors.materialcdn + '/js/gallery/gallery.js' %>"></script>
                    <% } else { %>
                        <script src="<%= url_for('js/gallery/gallery.js') %>"></script>
                        <% } %>

                            <% if(theme.vendors.materialcdn) { %>
                                <%- jsLsload({path:(theme.vendors.materialcdn + '/js/lazyload.min.js'),key:'lazyload_js'}) %>
                                    <% } else { %>
                                        <%- jsLsload({path:('js/lazyload.min.js'),key:'lazyload_js'}) %>
                                            <% } %>

                                                <script>
                                                    queue.offer(function() {
                                                            $('.lazy').lazyload({
                                                                effect: 'fadeIn',
                                                                event: 'scrollstop'
                                                            });
                                                        })
                                                        <!-- Start Queue -->
                                                    $(document).ready(function() {
                                                        setInterval(function() {
                                                            queue.execNext();
                                                        }, 200);
                                                    });
                                                </script>

            </body>