<%- css('../css/timeline.css') %>

<section id="md-timeline" class="md-container">
   	<% if (site.posts.length) { -%>
   		<% site.posts.sort('date', -1).limit(site.posts.length).each(function(post){ %>
			<div class="md-timeline-block">
                		<div class="md-timeline-date blue">
                   			<div class="md-date"><%= date(post.date, 'MMM DD YYYY') %></div>
                		</div>

                		<div class="md-timeline-content">
                    			<div class="md-timeline-title"><a href="<%- url_for(post.path) %>"><%= post.title %></a></div>
					<div class="md-timeline-info">
						<span class="md-timeline-info-span">Categories:
							<%- list_categories(post.categories, {
								show_count: false, 
								style: 'none'
							}) %>
						</span>
						<span class="md-timeline-info-span">Tags:
							<%- list_tags(post.tags, {
								show_count: false,
								style: 'none'
							}) %>
						</span>
						
					</div>
					<p class="md-timeline-excerpt">
						<% if(post.excerpt) { %>
							<%- strip_html(post.excerpt) %>
						<% }else{ %>
							<%- strip_html(truncate(post.content,{length: theme.reading.entry_excerpt })) %>
						<% } %>...
					</p>
                    		</div>
			</div>	
   		<% }) %>	   	  		
   	<% } -%>
</section>

<script type="text/ls-javascript" id="page-timeline-script">
    var adjustFooter = function() {
        if( ($('#bottom').offset().top + $('#bottom').outerHeight() )<$(window).height() ) {
            var footerBottom = $(window).height() - $('#bottom').outerHeight() - $('#bottom').offset().top;
            $('#bottom').css('bottom', '-' + footerBottom + 'px');
        }
    };
    $(document).ready(function() {
        adjustFooter();
    });
</script>
